{% extends 'base.html' %} 
{% load static %} 
{% block scan_nav %} active {% endblock %} 
{% block scan_from_appointment_nav %} active {% endblock %} 
{% block main_content %}

<div class="content container-fluid">

    <div class="row align-items-center">
        <div class="col-12">
            <ul class="nav nav-pills justify-content-end" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active"  data-toggle="tab" href="#Patients_forTestTake">Pending Scan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  data-toggle="tab" href="#Patients_history">Scan History</a>
                </li>
            </ul>
        </div>
    </div>


    <section class="ScanTestSection">
        <div class="tab-content">
            <div class="Patients_forTestTake tab-pane active" id="Patients_forTestTake">
    
                <input type="hidden" id="ScanTest_Data_Url" data-url="{% url 'get_scan_test_data' %}">

                <input type="hidden" id="canceling_scan_url" data-url="{% url 'canceling_scan' %}">
                <input type="hidden" id="Scan_Result_Url" data-url="{% url 'get_scan_result_data' %}">
                <input type="hidden" id="post_edit_scan_result_data" data-url="{% url 'post_edit_scan_result_data' %}">



                <input type="hidden" id='scandata' data-val="{{scandata}}">
    
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Scan Test</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item active">Scan Test</li>
                            </ul>
                        </div>

    
                        <div class="col-auto backBtnSection hide">
                            <a href="javascript:void(0)" class="btn btn-primary me-1 backBtn">
                                <i class="fas fa-arrow-left"></i> Back
                            </a>
                        </div>
                    </div>
                </div>
    
                <section style="margin-bottom:35px;" class="Pending-Scan-Test-Section">
                    <h5>Scan Test [Pending]</h5>
                    
                    <div class="row Scan-Test-List mt-4" ></div>
                </section>


                <section class="Scan_Section hide">
    
                    <div class="col-md-12">
                        <form id="Scan_Report_Form" action="." method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
    
                            <input type="hidden" name="patientId" id="patientId" value="0">
    
                            <input type="hidden" name="patient_appointment_Id" id="patient_appointment_Id" value="0">

                            <input type="hidden" name="patient_IP_assignid" id="patient_IP_assignid" value="0">

                            <input type="hidden" name="patient_Ward_assignid" id="patient_Ward_assignid" value="0">

                            <input type="hidden" name="returnScanTestPatient_Id" id="returnScanTestPatient_Id" value="0">
    
    
                            <div class="patientDetailsSection" style="margin-bottom:15px">

                                <div class="card-body alert alert-warning  alert-dismissible">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="text-left">
                                        
                                                <h4 class="text-primary">Patient Name: 
                                                    <span class="patientInfoText" id="appointedPatientName"></span>
                                                    [#<span class="patientInfoText" id="appointedPatientId"></span>]
                                                </h4>
                                                <h6 class="text-dark">
                                                    Age & Gender: <span class="patientInfoText" id="appointedPatientAge"></span> Yrs/
                                                    <span class="patientInfoText" id="appointedPatientGender"></span>
                                                </h6>
                                                <h6 class="text-dark">Contact: <span class="" id="">98876554</span></h6>
                                                <h6 class="text-dark">Place: <span class="patientInfoText" id="appointedPatientPlace"></span></h6>
                                            </div>
                                        </div>
                                        <div class="col-6 text-end">
                                            <h4 class="text-danger"><span class="admission_id" id="admission_id">R-1234</span></h4>
                                            <h6>Appointed Date: <span class="patientInfoText" id="appointedDate"></span></h6>
                                            <h6>Doctor: <span class="patientInfoText" id="appointedDocter"></span></h6>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-12 mb-3 mt-2">
                                    <h5>Scan to be Taken: <span class="patientInfoText text-primary" id="SuggestedScan"></span></h5>
                                </div>
        
                                <div class="row form-group">
    
                                    <div class="col-md-4">
                                        <label for="ScanTest">Select Scan Type</label>
                                        <select name="ScanTest" id="ScanTest" class="form-control" multiple required>
                                        </select>
                                    </div>
    
    
                                    <div class="col-md-4">
                                        <label for="Scan-FeeAmount">Scan Fee</label>
                                        <input type="text" name="Scan-FeeAmount" id="Scan-FeeAmount" class="form-control" readonly>
                                    </div>
    
                                </div>
    
                                <div class="row form-group patient_report_view" id="ReportAction">
            
                                </div>
    
                                <div class="text-end submitBtnSection">
                                    <button type="submit" class="btn btn-primary submitBtn">Proceed</button>
                                </div>
    
    
                            </div>
    
                        </form>
                    </div>
                </section>
    
            </div>
    
    
    
            <div class="Patients_history tab-pane" id="Patients_history">

                <input type="hidden" id="ScanForPatientData" data-val="{{ scanforpatientdata }}">

                <input type="hidden" id="scan_payment" data-url="{% url 'scan_payment' %}">


                <div class="page-header">
                    <div class="row align-items-center">

                        <div class="col">
                            <h3 class="page-title">Scan From Appointment</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item active">Scan From Appointment</li>
                            </ul>
                        </div>

                        <div class="col-auto history_backBtnSection hide">
                            <a href="javascript:void(0)" class="btn btn-primary me-1 history_backBtn">
                                <i class="fas fa-arrow-left"></i> Back
                            </a>
                        </div>

                        <div class="col-auto printBtnSection hide ">
                            <a href="javascript:void(0)" class="btn btn-outline-primary me-1 bold  printBtn Payment_DownloadReport">
                                <i class="fas fa-print"></i> Print
                            </a>
                        </div>
                    </div>
                </div>
            
                <section class="ScanPatientDTSection">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-center table-hover" id="scanPatientListDT">
                                            <thead class="thead-light">
                                                
                                            </thead>
                                            <tbody>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="patient_info_section hide" >
                    <div class="card-body alert alert-success   alert-dismissible  patient_data ">
                        <div class="row">
                            <div class="col-6">
                                <div class="text-left">
                            
                                    <h4 class="text-primary">Patient Name: 
                                        <span class="patientInfoText appointedPatientName" id="appointedPatientName"></span>
                                        [#<span class="patientInfoText appointedPatientId" id="appointedPatientId"></span>]
                                    </h4>
                                    <h6 class="text-dark">
                                        Age & Gender: <span class="patientInfoText appointedPatientAge" id="appointedPatientAge"></span> Yrs/
                                        <span class="patientInfoText appointedPatientGender" id="appointedPatientGender"></span>
                                    </h6>
                                    <h6 class="text-dark">Contact: <span class="appointedPatientPhone" id="appointedPatientPhone"></span></h6>
                                    <h6 class="text-dark">Place: <span class="patientInfoText appointedPatientPlace" id="appointedPatientPlace"></span></h6>
                                </div>
                            </div>
                            <div class="col-6 text-end AppointmentDetails">
                                <h4 class="text-danger"><span class="admission_id" id="admission_id"></span></h4>
                                <h6>Appointed Date: <span class="patientInfoText appointedDate" id="appointedDate"></span></h6>
                                <h6>Doctor: <span class="patientInfoText appointedDoctor" id="appointedDocter"></span></h6>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="edit_scan_section hide">
                    <div class="row">
                        <div class="col-md-12">
                            <form id="Edit_Scan_Report_Form"  method="POST" enctype="multipart/form-data">{% csrf_token %}
                                <div class="row form-group patient_report_view" id="SubView">
                
                                </div>

                                <div class="text-end submitBtnSection">
                                    <button type="submit" class="btn btn-primary submitBtn">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>

                <section class="scan_GetpaymentSection hide">
                    <div class="row">
                        <div class="col-md-12">
                    
                            <form id="Scan_PaymentForm"  method="POST" enctype="multipart/form-data">{% csrf_token %}

                                <input type="hidden" id="op_appointmentId" name="appointmentId" value="0" />
                            <div class="row form-group" style="display:flex; justify-content: center;">

                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h5 class="card-title">Payment Details</h5> 
                                            </div>                                       
                                            </div>
                                        <div class="card-body">
                                            
                                            <div class="row" >
                                                <div class="row form-group amountSection">
                                                    <input type="hidden" name="outPatientPaymentId" id="outPatientPaymentId"
                                                        value="0">
                                                    <input type="hidden" name="totalAmount" id="totalAmount" value="0">
                                                    <input type="hidden" name="balanceValue" id="balanceValue" value="0">
                                                    <input type="hidden" name="nowPayingAmount" id="nowPayingAmount" value="0">
                                                    <input type="hidden" name="paymentReceived" id="paymentReceived" value="0">
                                                    <input type="hidden" name="overallBalance" id="overallBalance" value="0">

                                                    <input type="hidden" name="ScanTestId" id="ScanTestId" value="0" />

                                                    <div class="col-md-12 amountCollection cash_collection_col mb-2">
                                                        <h6 class="">Cash</h6>
                                                        <input type="number" class="form-control amountCollectionValue cashValue" min="0" name="cash" value="0" id="cash">
                                                    </div>

                                                    <div class="col-md-6 amountCollection upi_collection_col">
                                                        <h6 class="">UPI</h6>
                                                        <input type="number" class="form-control amountCollectionValue upiValue" min="0" name="upi" value="0" id="upi">
                                                    </div>

                                                    <div class="col-md-6 amountCollection upi_collection_col">
                                                        <h6 class="">Debit Card</h6>
                                                        <input type="number" class="form-control amountCollectionValue cardValue" min="0" name="upi" value="0" id="card">
                                                    </div>
                                                </div>

                                                <div class="amountSection paymentSection row">
                                                    <div class="totalAmountView col-md-12 text-center mb-3">
                                                        <h3 class="amountLabel">Total Fees: ₹ <span class="amountLabelValue" id="totalAmountText">0</span></h3>
                                                    </div>

                                                    <div class="col-md-6 existingPaidAmountView" style="display: none;">
                                                        <h6 class="amountLabel">Already Paid<span class="text-success pull-right">₹ <span class="amountLabelValue" id="existingpaidAmountText">0</span></span></h6>
                                                        <h6 class="amountLabel">Balance<span class="text-danger pull-right">₹ <span class="amountLabelValue" id="PrevbalanceAmountText">0</span></span></h6>
                                                    </div>
                                                    <div class="paidAmountView col-md-6">
                                                        <h6 class="amountLabel">Now Paying<span class="text-success pull-right"> ₹ <span class="amountLabelValue" id="nowPayingAmountText">0</span></span></h6>
                                                        <h6 class="amountLabel">Balance<span class="text-danger pull-right"> ₹ <span class="amountLabelValue" id="balanceAmountText">0</span></span></h6>
                                                    </div>

                                                    <div class="balanceAmountView col-md-6">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-end submitBtnSection">
                                                <button type="submit" class="btn btn-primary submitBtn">Process Payment</button>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>



                            </form>
                                
                        </div>
                    </div>
                </section>


                <section class="invoicePrintSection hide">
                    <div class="row justify-content-center Payment_canvas_div_pdf">
                        <div class="col-xl-8">
                            <div class="card">
            
                                <div class="card-body">
                                    <div class="invoice-item">
                                        <div class="row">
                                            <div class="col-md-6" style="width: 65%;">
                                                <div class="invoice-logo mb-2">
                                                    {% if configuration.hospital_logo %}
                                                        <img src="/media/{{ configuration.hospital_logo }}" alt="Logo">
                                                    {% else %}
                                                        <img src="/static/img/logo.png" alt="Logo">
                                                    {% endif %}
                                                </div>
                                                <div class="invoice-info" style="width: 100%;">
                                                    <p class="invoice-details invoice-details-two p-2">
                                                       Life is a Gift... Live it Well...
                                                    </p>
                                                </div>
                                                <br>
                                               
                                            </div>
                
                                            <div class="col-md-6" style="width: 35%;">
                                                <div class="invoice-info">
                                                    <p class="invoice-details">
                                                        {{ configuration.hospital_address1 }}<br> 
                                                        {{ configuration.hospital_address2 }} Pincode-{{ configuration.hospital_pincode }}<br>                                            
                                                        <strong>Ph: {{ configuration.hospital_phone }}<br>
                                                        Email: {{ configuration.hospital_email }}</strong>
                                                    </p>
                                                </div>
                
                                               
                                            </div>
                                        </div>
                                    </div>
            
            
                                    <div class="invoice-item py-4">
                                        <div class="row">
                                            <div class="col-md-6" style="width: 50%;">
                                                <div class="invoice-info">
                                                    <strong class="customer-text mb-1">Billing Details</strong>
                                                    <p class="invoice-details invoice-details-two" style="width: 100%;">
                                                        Patient ID: <span id="invoice_PatientId"></span> <br>
                                                        Patient Name: <span id="invoice_PatientName"></span> <br>
                                                        Age & Gender: <span id="invoice_PatientAge"></span>Yrs / <span
                                                            id="invoice_PatientGender"></span>
            
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="width: 50%;">
                                                <div class="invoice-details">
                                                    <strong class="customer-text mb-1">&nbsp;</strong>
                                                    <p><strong>Date:</strong> <span id="invoice_AppointementDate">{% now "d-m-Y" %}</span><br>
                                                        <strong></strong> <span class="invoice_AppointementID"></span>
                                                    </p>
                                                </div>
                                            </div>
            
                                        </div>
            
                                    </div>
            
            
            
            
                                    <div class="invoice-item invoice-table-wrap">
                                        <div class="row d-flex justify-content-end">
                                            <div class="col-md-12 mb-4">
                                                <div class="table-responsive">
                                                    <table class="invoice-table table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Fee Details</th>
                                                                <th class="text-end">Amount</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="invoice_scan">
                                                                <td>Scan Test</td>
                                                                <td id="invoice_scan" style="text-align:right;">0</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
            
            
            
                                            <div class="col-lg-6 col-md-6 hide" style="width: 50%;">
                                                <div class="invoice-total-card">
                                                    <div class="invoice-total-box">
                                                        <div class="invoice-total-inner">
                                                            <p style="color: #7638FF;">Payment Mode</p>
                                                            <p class="invoice_Cash_Amount">Cash <span id="invoice_Cash_Amount">0</span></p>
                                                            <p class="invoice_UPI_Amount">UPI <span id="invoice_UPI_Amount">0</span> </p>
                                                            <p class="mb-0 invoice_Card_Amount">Debit Card <span id="invoice_Card_Amount">0</span></p>
                                                        </div>
            
                                                    </div>
                                                </div>
            
                                            </div>
                                            <div class="col-lg-6 col-md-6" style="width: 47%;">
                                                <div class="invoice-total-card">
                                                    <div class="invoice-total-box">
                                                        <div class="invoice-total-inner">
                                                            <!-- <p>Total <span class="invoice_Payment_Total">0</span></p> -->
                                                            <p>Paid <span id="invoice_Payment_Paid">0</span></p>
                                                            <p class="mb-0">Balance <span id="invoice_Payment_Balance">0</span></p>
                                                        </div>
                                                        <div class="invoice-total-footer">
                                                            <h4>Total Amount <span class="invoice_Payment_Total">0</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
            
            
            
            
                                        </div>
                                    </div>
            
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
    
        </div>
    </section>



</div>

{% endblock %} {% block extra_js %}

<script src="{% static 'js/pages/scan_from_appointment.js' %}" type="text/javascript"></script>

{% endblock %}












